---
version: '3'

services:
  azure-storage-emulator-azurite:
    image: mcr.microsoft.com/azure-storage/azurite
    ports:
      - 10000:10000
    command: "azurite-blob --blobHost 0.0.0.0 --loose --skipApiVersionCheck"
    volumes:
      - em-hrs-docker-azure-blob-data:/opt/azurite/folder
volumes:
  pacts:
  em-hrs-docker-azure-blob-data:
